@import "variables";

@media only screen and (max-width:992px ){

  #caroselSec{
  width:$main-width;
  clear: both;
  }
  #textSec{
    width: $main-width;
    clear: both;
    margin-top: 40px;
  }

#icon-ft{


}


}
