


//background
@mixin bg-pics {
  background-size: cover;
  background-position: center;

}


//radius
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  border-radius: $radius;
}

@mixin border-radius-top ($radius) {
  border-top-left-radius: $radius;
  border-top-right-radius: $radius;
}

@mixin border-radius-bottom ($radius) {
  border-bottom-left-radius: $radius;
  border-bottom-right-radius: $radius;
}


// clear
@mixin clearfix() {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}
