

//colors
$col_box: #DEDEDE;
$col_title: #78C2AD;
$col_icon: #DEDEDE; //#97D495;
$col_cart: #E9ECEC;

$font_wt: #fff;
$font_blk: #000;

$main_color: #78C2AD;


//sizing
$main-width: 100%;


//font
$main_font: "Montserrat";
